body {
  background-color: #f4f2ee;
}
.country {
  font-size: rem;
  color: #666666;
}

.banner-image {
  height: 200px;
  object-fit: cover;
}

.profile-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
  border: 4px solid white;
}

.btn-custom:hover {
  background-color: rgb(217, 228, 233);
  border: solid 2px rgb(12, 36, 92);
  color: rgb(13, 110, 253);
}
.dropdw1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDm0aJovNXb9D5EebdSj3QND1MLcEWCiZA9w&s");
  width: 70px;
  height: 70px;
}
.text-custom {
  color: rgb(161, 124, 22);
  font-size: 14px;
}
.class-icon {
  width: 20px;
}
.text-svg {
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
  color: #000;
}

footer ul {
  padding-left: 0;
  margin-bottom: 0;
}

footer li {
  margin-bottom: 8px;
  list-style: none;
}

footer label {
  font-size: 14px;
  margin-bottom: 8px;
}

footer select {
  font-size: 14px;
}

footer .form-select {
  max-width: 100%;
}

footer .text-secondary {
  color: #999 !important;
}
.icon-grey {
  color: #666666;
}
